{% extends 'base.html.twig' %}

{% block title %}Hello !
{% endblock %}

{% block body %}
    <p class="text-center">Share video from Youtube, Vimeo, DailyMotion and Facebook with a simple and efficient PHP Video URL Parser !!</p>
	<div>
		{% if not videos %}
			<div>
				<p>No content !</p>
				<p>Be the first to add a video !</p>
			</div>

		{% else %}
            <h1 class="text-center my-5">All videos</h1>

            <div class="my-5">
			    <div class="row row-cols-2 row-cols-md-3 row-cols-lg-4  g-4">
				    {% for video in videos %}
                        <div class="col">
					        <div class="card text-white bg-dark mb-3 rounded h-100">
						        <a href="{{ path('show', {'id': video.id }) }}">
                                    <img src="{{ video.url|video_thumbnail }}" class="card-img-top" alt="video thumbnail">
                                </a>
						        <div class="card-body">
							        <h5 class="card-title">{{ video.name }}</h5>
                                </div>
                                <div class="card-footer">
                                    <a href="{{ path('show', {'id': video.id }) }}" class="btn btn-primary">Play</a>
                                </div>
						    </div>
                        </div>    
				    {% endfor %}
			    </div>
            </div>
		{% endif %}
	</div>


	<div id="addVideo" class="my-5">
		<h2 class="text-center my-5">Add a video<h2>
		{{ form(form) }}
    </div>
{% endblock %}
